// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: .9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$palette-1: #F8EFD4;
$palette-2: #EDC988;
$palette-3: #D7385E;
$palette-4: #132743;

// Bootstrap
$dark: $palette-4;
$light: $palette-2;
$primary: $palette-3;

// Body
$body-bg: $palette-1;
$body-color: $palette-4;