// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: $palette-4;
    border: 0;
    box-shadow: 0;
    outline: 0;
    z-index: 10;
}

main, html {
    background-color: $palette-1;
}

main {
    padding: 0 2rem;
    min-height: 50rem;
}

textarea {
    padding: .4rem;
    border: 0;
    outline: .15rem solid $palette-3;
    background-color: $palette-2;
    border-radius: .15rem;
    width: inherit;
    -webkit-border-radius: .15rem;
    -moz-border-radius: .15rem;
    -ms-border-radius: .15rem;
    -o-border-radius: .15rem;
}

textarea:focus {
    outline: .15rem dashed $palette-3;
}

input {
    background-color: $palette-2;
    padding: .4rem;
    border: 0;
    outline: .15rem solid $palette-3;
    border-radius: .2rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    -ms-border-radius: .2rem;
    -o-border-radius: .2rem;
}

input:focus {
    outline: .2rem dashed $palette-3;
}

.card {
    background-color: $palette-2;
    max-width: 30rem;
    margin: 0 auto;
    padding: .2rem .1rem;
}

.card-header {
    border-bottom: .1rem solid $palette-4;
    color: $palette-4;
    background-color: $palette-2;
}

.dropdown-menu {
    background-color: $palette-4;
    border: 0;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.dropdown-item {
    color: $palette-1;
}

.dropdown-item:hover {
    background-color: $palette-3;
    color: $palette-1;
}

.post {
    padding: 0;
}

.post .card-header {
    background-color: $palette-4;
    color: $palette-2;
}

.post a {
    text-decoration: none;
}

.profile-pic {
    border: .1rem solid $palette-4;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.btn {
    background-color: $palette-4;
    color: $palette-2;
}

.btn:hover {
    color: $palette-4;
    background-color: $palette-2;
}

.like-btn {
    background-color: $palette-1;
    color: $palette-3;
}

.like-btn:hover {
    background-color: $palette-1;
    color: $palette-4;
}

.like-btn:active, .like-btn:focus {
    box-shadow: none;
}

.new-post-btn {
    text-align: center;
    margin: 2rem;
}

.logo-large {
    object-fit: cover;
}

.btn-primary {
    border: .1rem solid $palette-3;
}

#post-body {
    padding: .8rem 1rem;
    background-color: $palette-2;
    word-wrap: break-word;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

#comment-body {
    min-width: 75%;
}

.post-edit-area {
    width: 100%;
}

#post-container {
    min-width: 40%;
}

.likes label {
    font-weight: bold;
    font-size: 1.1rem;
}

#commentList {
    max-width: 40rem;
    overflow: auto;
}

.comment {
    background-color: $palette-2;
    padding: .6rem 1rem;
    padding-right: 2rem;
    padding-bottom: .1rem;
    word-wrap: break-word;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

#post-create-body {
    min-width: 50%;
}

.footer{
    background-color: $palette-4;
}

.footer {
    border-top: .25rem solid $palette-3;
    border-bottom: .25rem solid $palette-3;
    color: $palette-2;
}

.main-profile-pic {
    width: 10rem;
    border: .2rem solid $palette-3;
}

.profile-info {
    background-color: $palette-2;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.mini-post {
    background-color: $palette-2;
    border-radius: .3rem;
    word-wrap: break-word;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    border: .2rem solid $palette-4;
}

#userPostList {
    max-width: 90%;
}

.page-item {
    background-color: $palette-1;
}

.page-link {
    background-color: $palette-4;
    color: $palette-2;
    border: 0;
}

.page-link:hover {
    background-color: $palette-3;
    color: $palette-2;
}

.page-item.disabled .page-link {
    background-color: $palette-1;
    color: $palette-2;
}

#title {
    word-wrap: break-word;
}