// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: $palette-4;
    border: 0;
    box-shadow: 0;
    outline: 0;
}

.card {
    background-color: $palette-2;
    border: 0;
    width: 30rem;
    margin: 0 auto;
    padding: .2rem .1rem;
}