// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Vollkorn:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    background-color: $palette-4;
    border: 0;
    box-shadow: 0;
    outline: 0;
}

main, html {
    background-color: $palette-1;
}

.card {
    background-color: $palette-2;
    border: 0;
    width: 30rem;
    margin: 0 auto;
    padding: .2rem .1rem;
}

.card-header {
    border-bottom: .1rem solid $palette-4;
    color: $palette-4;
    background-color: $palette-2;
}

.dropdown-menu {
    background-color: $palette-4;
    border: 0;
    border-radius: .1rem;
    -webkit-border-radius: .1rem;
    -moz-border-radius: .1rem;
    -ms-border-radius: .1rem;
    -o-border-radius: .1rem;
}

.dropdown-item {
    color: $palette-1;
}

.dropdown-item:hover {
    background-color: $palette-3;
    color: $palette-1;
}

.post {
    padding: 0;
}

.post .card-header {
    background-color: $palette-4;
    color: $palette-3;
}